.about
  .question
    font-weight font-medium-weight

  .answer
    margin-bottom 2rem

  .lein-logo
    position relative
    left 0.1rem
    top 0.4rem

  .boot-logo
    position relative
    right 0.05 rem
    top 0.4rem
