$template-focus-box-shadow
  box-shadow 3px 2px 11px 6px rgba(130, 130, 130, 0.5);

$template-focus
  @extend $template-focus-box-shadow
  border-top 3px solid color-primary
  outline 2px solid color-primary
  color inherit

.templates
  font-size font-size-small

  .templates-listing
    display flex
    flex-wrap wrap

  .search-input
    border 1px solid lightgrey
    border-radius 5px
    width 100%
    height 4rem
    font-size font-size-large
    padding 5px
    box-sizing border-box

  .keyword
    font-family font-code
    color color-keyword
    padding-bottom 0
    margin-bottom 0

  .code
    font-family font-code
    color color-darkgrey

  .template-attribute
    margin-bottom 0.4rem

  .templates-spinner
    margin 0 auto
    margin-top 1rem

  .no-results
    font-size font-size-medium

  .template
    margin-top 1rem
    border-top 3px solid color-keyword
    box-shadow 0px 2px 4px 1px rgba(130, 130, 130, 0.5);
    padding 1rem
    flex-grow 1
    width 20rem
    margin-left 0.3rem
    margin-right 0.3rem
    transition box-shadow 0.2s
    text-decoration none
    color inherit

    .title
      margin-bottom 0.6rem
      font-size font-size-medium
      font-weight 400
      color color-darkgrey

    .description
      font-size 0.9rem
      margin-bottom 1rem

    &:hover
      @extend $template-focus-box-shadow

  a.template
    &:hover
      @extend $template-focus

    &:focus
      @extend $template-focus


  .pagination
    margin-top 2rem
    display flex
    flex-direction row
    flex-wrap wrap

    .pagination-link
      margin-right 1rem
      color color-secondary
      font-size font-size-large
      &:hover
        cursor pointer

    .current-page
      color color-keyword
      font-weight font-bold-weight
      cursor default
      &:hover
        cursor default
