.templates
  font-size font-size-small

  .search-input
    border 1px solid lightgrey
    border-radius 3px
    width 100%
    height 1.5rem
    font-size 0.8rem
    padding 5px
    box-sizing border-box

  .build-system-info
    display flex
    flex-direction row
    margin-bottom 1rem

  .build-system-text
    align-self flex-end

  .build-system-logo
    height 8rem
    margin-right 1rem

  .keyword
    color color-keyword

  .template
    margin-top 1rem
    border-bottom 1px solid lightgrey

    .title
      margin-bottom 0.6rem
      font-size 1rem
      font-weight 400

      a
        color color-primary
        text-decoration none
        &:hover
          text-decoration underline
