.tooltip
  position relative
  display inline
  cursor pointer

  &:hover
    .tooltip-content
      visibility visible
      opacity 0.95
      z-index 999

.tooltip-content
  bottom 2.5rem
  right 0.4rem
  visibility hidden
  position absolute
  min-width 11rem
  color white
  background color-darkgrey
  line-height 0.6rem
  text-align center
  border-radius 6px
  padding 1rem
