.app
  display flex
  min-height 100vh
  flex-direction column

.main
  flex 1
  padding-top 1rem
  margin 0 auto
  width page-width-base

  @media all and (min-width: 1250px)
    width page-width-large
