.error
  margin-top 3rem
  display flex
  justify-content center

  .error-message
    font-style italic
    font-size 1.5rem
    align-self center
    justify-content center
    color color-lightgrey
