footer
  display flex
  align-items center
  background color-primary
  height 2.5rem

  .content
    margin 0 auto
    width page-width-base
    font-size font-size-tiny
    color white
    @media all and (min-width: screen-breakpoint-large)
      width page-width-large
