.header
  background color-primary
  color white
  height 6rem
  display flex
  align-items center

  .clojure-logo
    margin-right 0.7rem

  img
    height 2.5rem

  a
    color white
    text-decoration none

  .content
    margin 0 auto
    width page-width-base
    display flex
    flex-direction row
    justify-content space-between
    @media all and (min-width: screen-breakpoint-large)
      width page-width-large

  .main-logo
    color color-keyword
    font-size 2.5rem
    font-family font-code
    user-select none

  .external-links
    align-self flex-end
