.header
  background color-primary
  color white
  height 5rem
  display flex
  align-items center

  .clojure-logo
    margin-right 0.7rem

  a
    color white
    text-decoration none

  .content
    margin 0 auto
    width page-width-base
    display flex
    flex-direction row
    justify-content space-between
    @media all and (min-width: screen-breakpoint-large)
      width page-width-large

  .main-logo
    font-size 1.8rem
    cursor pointer
    @media all and (min-width: screen-breakpoint-small)
      font-size 2.5rem

  .external-links
    align-self flex-end

    img
      height 1.2rem
      @media all and (min-width: screen-breakpoint-small)
        height 2.5rem
