.header
  background color-primary
  color white
  height 5rem
  display flex
  align-items center

  a
    color white
    text-decoration none

  .content
    margin 0 auto
    width page-width-base
    display flex
    flex-direction row
    justify-content space-between
    @media all and (min-width: screen-breakpoint-large)
      width page-width-large

  .main-logo
    font-size font-size-large

  .nav-elem
    font-size font-size-tiny
    align-self flex-end
    &:hover
      text-decoration underline
