root = './src/cljs/clj_templates/'

json('./resources/public/constants.json')

@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import root + 'style/common.styl'
@import root + 'components/*'
@import root + 'pages/*'
