.about
  margin-top 0.5rem
  font-size font-size-small
  border 1px solid lightgrey
  border-radius 5px
  padding 1.5rem
  @media all and (min-width: screen-breakpoint-large)
    width 75%

  .logos
    margin-top -0.7rem

  .lein-logo
    position relative
    left 0.1rem
    top 0.4rem

  .boot-logo
    position relative
    right 0.05 rem
    top 0.4rem
